  <header class="header">
    <h1 class="header-title">
      <a href="/">Wojciech Jurkowski</a>
    </h1>
    <ul class="header-links">
      <li>
        <a class="header-link" href="/about">About</a>
      </li>
      <li>
        <a class="header-link" href="/projects">Projects</a>
      </li>
      <li>
        <a class="header-link" href="/contact">Contact</a>
      </li>
    </ul>
	</header>

